<h1>@ViewBag.title</h1>



@{ 
    // TODO #3 - Use the same list display from Views/Search/Index.cshtml 
    @if (ViewBag.jobs != null)
    {
        <h3>@ViewBag.jobs.Count Result(s)</h3>
        @foreach (Dictionary<string, string> item in ViewBag.jobs)
        {
            <table class="job-listing">
                @foreach (KeyValuePair<string, string> i in item)
                {
                    @using TechJobs.Models;

                    <tr>
                        <th>@StringExtensions.ToTitleCase(i.Key)</th>
                        <td>@i.Value</td>
                    </tr>
                }
            </table>    
            <br />
        }
    }
}